        .carousel-item img {
          height: 500px;
          object-fit: cover;
        }
/* --- ESTILOS ATELIER (Premium) --- */
        body {
            background-color: #fbfaee; /* Blanco Crema */
            font-family: 'Manrope', sans-serif;
            color: #181f21; /* Charcoal oscuro */
        }
        h1, h2, h3, h4, h5, .navbar-brand {
            font-family: 'Noto Serif', serif;
        }
        .text-gold { color: #735c00; }
        .bg-gold { background-color: #735c00; color: white; }
        
        .navbar {
            background-color: rgba(251, 250, 238, 0.9) !important;
            backdrop-filter: blur(10px);
            border-bottom: 1px solid rgba(115, 92, 0, 0.1);
        }

        /* --- ESTILOS DEL RASTREADOR (STEPPER) --- */
        .stepper-icon {
            width: 60px; height: 60px;
            border-radius: 50%;
            display: flex; align-items: center; justify-content: center;
            background-color: #efeee3;
            font-size: 24px;
            margin: 0 auto 10px;
            color: #747879;
        }
        .stepper-icon.active {
            background-color: #735c00;
            color: white;
            box-shadow: 0 0 20px rgba(115, 92, 0, 0.3);
            transform: scale(1.1);
        }
        .stepper-line {
            height: 2px; background-color: #efeee3;
            width: 100%; margin-top: -45px; margin-bottom: 45px;
            z-index: -1; position: relative;
        }

        /* --- MAGIA PARA LA FAKE API --- */
        /* Sobreescribimos el diseño de las tarjetas generadas por tu FakeApi.js para que se vean elegantes */
        #productos .card {
            background-color: transparent;
            border: 1px solid rgba(115, 92, 0, 0.2);
            border-radius: 0 !important; /* Bordes cuadrados y elegantes */
            box-shadow: none !important;
            transition: transform 0.3s ease;
        }
        #productos .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.05) !important;
        }
        #productos .btn-dark {
            background-color: #181f21;
            border: none;
            border-radius: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 11px;
            padding: 12px;
        }
        #productos .btn-dark:hover {
            background-color: #735c00;
        }