/* cosas del login */
    .glass-effect {
      background: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .bg-gradient-custom {
      background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
    /* btn login */
.btn-custom-login {
    transition: all 0.3s ease;
}
.btn-custom-login:active {
    transform: scale(0.98);
}
.btn-logout {
    color: #94a3b8; /* text-slate-400 */
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
}
.btn-logout:hover {
    color: #ffffff; /* hover:text-white */
    background-color: #1e293b; /* hover:bg-slate-800 */
}