################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SastreriaAPI/SastreriaAPI/obj
/SastreriaAPI/SastreriaAPI/bin/Debug/net10.0
/SastreriaAPI/.vs
/.gitignore
/.gitignore
