################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SastreriaAPI/.vs
/SastreriaAPI/SastreriaAPI/Migrations
/SastreriaAPI/SastreriaAPI/obj
